site_name: Ball-on-Beam-Course
theme:
  custom_dir: overrides
  name: material
  logo: logo.png
  features:
    - navigation.footer
    - navigation.top
    - navigation.indexes
    - navigation.path
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - toc.integrate

  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: custom
      accent: custom
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: custom
      accent: custom

extra:
  homepage: https://www.mci.edu/de/
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sebamci
    #- icon: bootstrap/IV
    #  link: https://tirol.iv.at/




markdown_extensions:
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed:
      alternate_style: true 
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.tilde
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.arithmatex:
      generic: true
  - toc:
      toc_depth: 0

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
    - Home: index.md
    - System Overview: A_System_Overview/01_System_Overview.md
    - Assembly:
        - Assembly: B_Assembly/index.md
        - Equip the Base Plate: B_Assembly/01_base_plate.md
        - Assemble the Top Plate: B_Assembly/02_top_plate.md
        - Preparing the Beam: B_Assembly/03_beam.md
        - Final Mechanical Assembly: B_Assembly/04_final_assembly.md
        - Wiring: B_Assembly/05_wiring.md
    - Software Setup:
        - Software Setup: C_Software/index.md
        - Required Tools: C_Software/01_tools.md
        - Simulink Setup: C_Software/02_simulink_setup.md
        - Test & Troubleshooting: C_Software/03_testing.md
    - Course Tasks:
        - Course Tasks: D_Course_tasks/index.md
        - I. Read Ball Position: D_Course_tasks/01_beam_softpot.md
        - II. Control the Beam: D_Course_tasks/02_servo.md
        - III. Move the Beam Manually: D_Course_tasks/03_rotary_knob.md
        - IV. Generate Setpoints: D_Course_tasks/04_setpoint.md
        - V. Adjust Target with SoftPot: D_Course_tasks/05_control_softpot.md
        - VI. Basic PID Controller: D_Course_tasks/06_pid_basic.md
        - VII. Tune the PID Controller: D_Course_tasks/07_pid_expert.md
        - VIII. Track Ball with SoftPot: D_Course_tasks/08_subsystem_control_softpot.md
        - IX. Add User Interface: D_Course_tasks/09_control_panel.md
        - X. Show Mode: D_Course_tasks/10_show_mode.md
    
  
      


plugins:
  - mkdocs-video:
      is_video: True
      video_muted: True
      video_controls: False
      video_autoplay: True
      css_style:
        width: "100%"
  - glightbox:
      effect: zoom
      width: 100%
      height: auto
      zoomable: true
      draggable: false
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
  - search:
      lang: en
  
extra_css:
  - stylesheets/extra.css


copyright: |
  &copy; 2025 <target="_blank" rel="noopener">Sebastian Bachlechner</a>